.messageBlock {
    display: flex;
    padding: 10px;
}

/*.messageInfoBlock {*/
/*    display: flex;*/
/*    !*align-items: flex-start;*!*/
/*    !*justify-content: flex-end;*!*/
/*    padding: 10px;*/
/*    background-color: #E7BABB;*/
/*    min-width: 200px;*/
/*    max-width: 300px;*/
/*    border-radius: 15px;*/
/*    position: relative;*/
/*}*/
.messageInfoBlock_1 {
    display: flex;
    padding: 10px;
    background-color: #E7BABB;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px;
    position: relative;
}
.messageInfoBlock_2 {
    display: flex;
    padding: 10px;
    background-color: #CCB6D6;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px;
    position: relative;
}

.messageInfoBlock_3 {
    display: flex;
    padding: 10px;
    background-color: #F4F2D6;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px;
    position: relative;
}


/*.messageBlock:nth-of-type(1) .messageInfoBlock {*/
/*    background-color: #E7BABB;*/
/*}*/
/*.messageBlock:nth-of-type(2) .messageInfoBlock {*/
/*    background-color: #CCB6D6;*/
/*}*/
/*.messageBlock:nth-of-type(3) .messageInfoBlock {*/
/*    background-color: #F4F2D6;*/
/*}*/

.messageInfo {
    flex-direction: column;
}

.companionName {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageTime {
    position: absolute;
    right: 3px;
    bottom: 1px;
}

.avatarIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px 5px 10px 0px;
}
