.messageBlock {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.avatar {
    margin-bottom: -3px;
}

/*.messageInfoBlock {*/
/*    display: flex;*/
/*    !*align-items: flex-start;*!*/
/*    !*justify-content: flex-end;*!*/
/*    padding: 10px;*/
/*    background-color: #E7BABB;*/
/*    min-width: 200px;*/
/*    max-width: 300px;*/
/*    border-radius: 15px;*/
/*    position: relative;*/
/*}*/
.messageInfoBlock_1 {
    display: flex;
    padding: 10px;
    background-color: #E7BABB;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px 15px 15px 0;
    position: relative;
}

.messageInfoBlock_2 {
    display: flex;
    padding: 10px;
    background-color: #CCB6D6;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px 15px 15px 0;
    position: relative;
}

.messageInfoBlock_3 {
    display: flex;
    padding: 10px;
    background-color: #F4F2D6;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px 15px 15px 0;
    position: relative;
}


/*.messageBlock:nth-of-type(1) .messageInfoBlock {*/
/*    background-color: #E7BABB;*/
/*}*/
/*.messageBlock:nth-of-type(2) .messageInfoBlock {*/
/*    background-color: #CCB6D6;*/
/*}*/
/*.messageBlock:nth-of-type(3) .messageInfoBlock {*/
/*    background-color: #F4F2D6;*/
/*}*/

.messageInfo {
    flex-direction: column;
}

.companionName {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageTime {
    position: absolute;
    right: 3px;
    bottom: 1px;
}

.avatarIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.corner_1 {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 15px, rgba(240, 184, 186, 1) 0);
}

.corner_2 {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 15px, rgba(208, 181, 216, 1) 0);
}

.corner_3 {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0) 15px, rgba(244, 242, 211, 1) 0);
}

.messageInfoAndCorner {
    display: flex;
    align-items: flex-end;
}
