.someClass {

}

.affairsBlock {
}

.affairsInfoBlock {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px black solid;
    border-radius: 15px;
    padding: 3px;
}

.affairsNames {
    min-width: 33%;
}

.affairsPriority {
    min-width: 33%;
}
.affairsPriority_low {
    color: limegreen;
    min-width: 33%;
}
.affairsPriority_middle {
    color: orange;
    min-width: 33%;
}
.affairsPriority_high {
    font-weight: bold;
    color: red;
    min-width: 33%;
}

/*.deleteButton {*/
/*    border-radius: 50%;*/
/*    min-width: 33%;*/
/*}*/

/*.activeButton {*/
/*    background-color: #1AE0FF;*/
/*    border-radius: 15px;*/
/*    margin-right: 3px;*/
/*}*/

/*.unActiveButton {*/
/*    border-color: #1AE0FF;*/
/*    border-radius: 15px;*/
/*    margin-right: 3px;*/
/*}*/

.filterButtons {
    display: flex;
    margin-left: 10px;
}